main {
  padding: 0 1.2rem;
}
.user-container {
  max-width: 900px;
  margin: 8rem auto;
  margin-bottom: 0;
  border: 1.8px solid var(--gray);
  border-radius: 5px;
  padding: 1rem;
}

.user-container .hired-list {
  display: flex;
  flex-direction: column;
}

.hired-list-user {
  border-left: 0.3rem solid black;
  margin: 1rem 0;
}
.hired-list-user:hover {
  border-left: 0.3rem solid black;
  background-color: rgba(240, 240, 240, 0.698);
}
