@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Poppins:wght@600&display=swap");
/* color root */
:root {
  --gray: rgb(182, 182, 182);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* utility */
.border-b-1 {
  border-bottom: 1.8px solid var(--gray);
}
.mx-auto {
  margin: 0 auto;
}
.d-none {
  display: none;
}
.p-1 {
  padding: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.link-underline {
  color: black;
  text-decoration: underline;
}
.link-underline:hover {
  color: rgb(58, 58, 58);
}
.link-none {
  text-decoration: none;
  color: black;
}
.link-none:hover {
  color: rgb(58, 58, 58);
}

/* color and background */
.text-gray {
  color: var(--gray);
}
.text-white {
  color: white;
}
.text-primary {
  color: rgb(0, 132, 255);
}
.text-danger {
  color: rgb(220, 20, 60);
}
.text-gray-50 {
  color: rgb(95, 95, 95);
}
.text-center {
  text-align: center;
}
.text-warning {
  color: rgb(189, 189, 9);
}
.bg-primary {
  background-color: rgb(0, 132, 255);
}
.bg-danger {
  background-color: rgb(220, 20, 60);
}
.bg-dark {
  background-color: black;
}
.btn {
  outline: none;
  border: none;
  background-color: transparent;
}

/* component */
.btn-primary {
  text-decoration: none;
  background-color: rgb(0, 132, 255);
  padding: 0.4rem 0.5rem;
  border: none;
  border-radius: 0.2rem;
  margin: 0 0.3rem;
  color: white;
  font-family: sans;
  font-weight: 400;
  outline-color: black;
  outline-width: 0.1rem;
}
.btn-primary:hover {
  background-color: rgb(1, 116, 224);
}
.btn-outline-white {
  font-family: sans;
  font-weight: 400;
  background-color: transparent;
  border: 0.1rem solid white;
  color: white;
  border-radius: 2px;
  transition: 0.1s ease-in;
}
.btn-outline-white:hover {
  background-color: rgb(0, 132, 255);
  border: 0.1rem solid rgb(0, 132, 255);
  color: white;
}
.btn-outline-dark {
  width: max-content;
  font-family: sans;
  font-weight: 400;
  background-color: transparent;
  border: 0.1rem solid black;
  color: black;
  border-radius: 2px;
  transition: 0.1s ease-in;
}
.btn-outline-dark:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.btn-lg {
  width: max-content;
  padding: 0.8rem 1.8rem;
}

/* font size */
.fns-1 {
  font-size: 0.9rem;
}
.fns-2 {
  font-size: 1.6rem;
}
.fns-3 {
  font-size: 2.4rem;
}
.fns-4 {
  font-size: 3.4rem;
}
.fnw-100 {
  font-weight: 100;
}
.fnw-300 {
  font-weight: 300;
}
.fnw-600 {
  font-weight: 600;
}

/* font */
.fn-poppins {
  font-family: "Poppins", sans-serif;
}
.fn-sans {
  font-family: sans;
}
