main {
  width: 100%;
}

.banner-section {
  margin-top: 5rem;
  max-width: 1300px;
  height: max-content;
  position: relative;
  overflow: hidden;
}

.banner-section .banner-img {
  border-radius: 3px;
  background: url("../images/banner.jpg");
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner-section .banner-content {
  position: absolute;
  left: 3rem;
  top: 4rem;
}
.banner-section .banner-content .banner-logo {
  color: white;
  text-decoration: none;
  transform: translate(-50%, -50%);
  text-shadow: 0.2rem 0.2rem 3px rgba(0, 0, 0, 0.3);
}
.banner-section .banner-content .banner-label {
  color: white;
  text-decoration: none;
  text-shadow: 0.2rem 0.2rem 3px rgba(0, 0, 0, 0.3);
}

.banner-section .banner-content a .banner-btn {
  color: white;
  border-color: white;
  margin: 2rem 0;
}
.banner-section .banner-content a .banner-btn:hover {
  border-color: black;
}
/* modal section */
.modal-section {
  border-radius: 5px;
  max-width: 1300px;
  height: max-content;
  padding: 2rem 2rem;
  display: flex;
  overflow: hidden;
}
.modal-section:hover {
  background-color: rgba(240, 240, 240, 0.698);
}
.modal-section .modal-img {
  background: url("../images/banner2.jpg");
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.modal-section .modal-content {
  flex: 1;
  padding: 3rem;
}

.modal-section .modal-content .model-title {
  padding: 0.5rem 0;
}
.modal-section .modal-content .modal-link {
  padding: 0.6rem 1rem;
  margin-top: 2rem;
}
.weeken-section {
  padding: 2rem 0;
  max-width: 1300px;
}

.weeken-section .weeken-modal-container {
  display: flex;
  justify-content: space-around;
  height: max-content;
}
.weeken-section .weenken-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}
.weeken-section .weenken-modal-header a {
  font-size: 1.1rem;
}
.weeken-modal-container .modal-card-header {
  padding: 1rem 1rem;
}

.gallary-container {
  margin: 2rem auto;
  position: relative;
  max-width: 1300px;
}
.gallary-container .gallary-categorize {
  padding: 1rem;
  display: flex;
}
.gallary-container .gallary-categorize button {
  cursor: pointer;
  border: 1.8px solid var(--gray);
  padding: 1rem;
}
.gallary-container .gallary-categorize button:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 1rem 2rem;
  border-right: 0;
}
.gallary-container .gallary-categorize button:nth-child(3) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 1rem 2rem;
  border-left: 0;
}
.gallary-container .gallary-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-bottom: 3rem;
}
.gallary-container .gallary-header .gallary-filter .btn:nth-child(2) {
  border-left: 0;
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.gallary-container .gallary-img {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 3rem;
  overflow: hidden;
}
.gallary-container .gallary-img .gallary-img-cards {
  position: relative;
}

.gallary-container .gallary-img .gallary-img-cards .card-title {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(47, 47, 47, 0.856);
}

.sponsor-section {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsor-section:hover {
  background-color: rgba(240, 240, 240, 0.698);
}
.sponsor-img {
  max-width: 650px;
  height: max-content;
  padding: 1rem;
  overflow: hidden;
  border: 1.8px solid var(--gray);
}
footer {
  margin-top: 3rem;
  padding: 1rem;
  border-top: 1.8px solid var(--gray);
  padding: 1rem;
}
.nav-footer {
  height: max-content;
}
@media only screen and (max-width: 600px) {
  .banner-section .banner-content .banner-logo {
    text-align: center;
    font-size: 2rem;
  }
  .banner-section .banner-content .banner-label {
    font-size: 1.2rem;
  }
  .banner-section .banner-content a .banner-btn {
    font-size: 0.8rem;
  }
  .modal-section .modal-img {
    width: 150px !important;
    height: 200px !important;
  }
}
@media only screen and (max-width: 900px) {
  .modal-section {
    padding: 2rem 0;
  }
  .modal-section .modal-img {
    width: 200px;
    height: 200px;
  }
  .modal-section .modal-content {
    padding: 1rem;
  }

  .modal-section .modal-content .model-title {
    padding: 0.2rem 0;
  }
  .modal-section .modal-content .model-header {
    font-size: 1.6rem;
  }
  .modal-section .modal-content .modal-link {
    padding: 0.4rem 0.6rem;
    margin-top: 1rem;
  }
  .weeken-section {
    padding: 0 1rem;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 1300px) {
  .weeken-section .weeken-modal-container {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    overflow-x: scroll;
  }
  .gallary-container .gallary-img {
    justify-content: space-around;
    border: 0;
  }
  .gallary-container .gallary-img div {
    margin: 1rem;
    border-radius: 3px;
  }
}
